GHCR_IMAGE=ghcr.io/meaookung144/mos-bot:latest
DISCORD_TOKEN=replace-me
OWNER_ID=494104713797828608
DEFAULT_PREFIX=.
DATABASE_PATH=/data/bot.sqlite
NODE_ENV=production
SYNC_COMMANDS_ON_STARTUP=true
DISCORD_GUILD_ID=
